.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 1px solid;
  display: block;
}

select {
  border: 1px solid;
}

button {
  display: block;
  margin-top: 10px !important;
  padding: 5px !important;
}
